{% extends 'timeline_base.html' %}

{% block title %} Followers {% endblock title %}

{% block css %}

{% endblock css %}


{% block profile_url %}
<a class="nav-link" href="/userprofile/{{request.user.username}}" data-toggle="tooltip" data-placement="bottom"
    title="Profile">
    <i class="fa fa-fw fa-user nav-icons"></i>
    <!--
        <img src="{% block profile_img %}{% endblock profile_img %}" alt="" height="26" class="round">                
    -->
</a>
{% endblock profile_url %}

{% block notification_count %}
{% if total_unseen > 0 %}
<span class="badge">{{total_unseen}}</span>
{% endif %}
{% endblock notification_count %}

{% block body %}

<div class="conatiner row my-4">
    <div class="col-md-6 d-flex justify-content-end ">
        <form class=" my-2 " method="POST" action="/post/addtag/{{postid}}">
            {% csrf_token %}
            <label for="tags" class="mx-2 my-2 text-primary"> <b>Search Users to Tag :  </b></label> <br>
            <input id="tags" type="text" name="tags"class="d-inline mx-2 my-2" placeholder="Type Usename ...">
            <p class="btn btn-sm btn-info  d-inline" id="add" style="height: 60%;"> Add</p>
            <br>
            <input type="hidden" value="" name="tagged_people" id="tagged_people">
            <button type="submit" class="btn btn-success mb-2" style="margin-left: 70px; margin-top: 10px;">Save</button>               
        </form> 
    </div>
    <div class="col-md-4 mt-2 card border border-info d-flex justify-content-start">
        <div class="card-body">
            <h11 class="text-danger mx-2 "> <b class="mb-4"> Tagged : </b> </h11>
            <div id="tag_list" class="flex-column"> </div>
        </div>
    </div>
</div>


{% endblock body %}

{% block js %}
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script>
    $(function () {
        $("#tags").autocomplete({
            source: "/post/autocomplete/{{postid}}",
            minLength: 1, 
        });

        $("#add").click(function () {
            var element = document.getElementById("tag_list");
            var tagged = document.getElementById("tags").value;
            if (tagged != "") { 
                var prev = document.getElementById("tagged_people").value;
                if (prev == "") {
                    $('#tagged_people').attr('value', tagged + "@");
                    element.innerHTML += '<span class="badge badge-pill mx-2 badge-warning">' + tagged + "</span> <br>";
                }
                else {
                    if(prev.search(tagged + "@") == -1){
                        $('#tagged_people').attr('value', prev + tagged + "@");
                        element.innerHTML += '<span class="badge badge-pill mx-2 badge-warning">' + tagged + "</span> <br>";
                    }
                }
            }
            document.getElementById("tags").value = "";
        });
    });


</script>
{% endblock js %}