{% extends 'timeline_base.html' %}

{% block title %} PostPage {% endblock title %}


{% block css %}

.card{
border: 1px solid #DBDBDB;
border-bottom: 0;
margin: 0;
margin-top: 3%;
width : 615px;
}

.replycomment{
border: 1px solid #DBDBDB;
border-bottom: 0;
border-left: 0;
border-right: 0;
margin: 0;
margin-top: 3%;
}



.caption-comments{
background-color: #ffffff;
font-size: 90%;
border: 1px solid #DBDBDB;
margin-top: 3%;
width : 615px;

}

.paid-text{
font-size: 70%;
}

.card-image{
margin: 0;
margin-top: 3%;
}

.card-content{
margin: 0;
margin-left: 3%;
margin-top: 2%;

}

.card-text {
margin-left: 2%;
font-family: 'Roboto', sans-serif;
}
.card-text-caption{
margin-left: 2%;
}

.comment-bar{
width: 100%;
}

.comment:focus{
outline: 0;
box-shadow: none;
border: 1px solid #DBDBDB;
border-right: 0;
}

.profile-image{
height: 40px;
width: 45px;
border: 2px solid #929292;
border-radius: 50%;
margin: 0;
}

{% endblock css %}

{% block profile_url %}
<a class="nav-link" href="/userprofile/{{request.user.username}}"  data-toggle="tooltip" data-placement="bottom" title="Profile">
    <i class="fa fa-fw fa-user nav-icons"></i>
    <!--
        <img src="{% block profile_img %}{% endblock profile_img %}" alt="" height="26" class="round">                
    -->
</a>
{% endblock profile_url %}

{% block notification_count %} 
    {% if total_unseen > 0 %}
        <span class="badge">{{total_unseen}}</span>
    {% endif %} 
{% endblock notification_count %}

{% block body %}
{% load humanize %}

<div class="feed d-flex justify-content-center">
    <div class="col- ">
        <div class="card">
            <div class="row mt-2">
                <div class="col-md-8">
                    <h10 class=" card-content ml-2">
                        <img src="/static/user.png" height="35" class="profile-image mx-auto" alt="...">
                        <strong >
                            <a href="/userprofile/{{userid}}" style="text-decoration: none;" class="text-dark mr-2"> {{username}}</a>
                            <span class="badge badge-info">{{time | naturaltime}} </span>
                        </strong>
                    </h10>
                </div>

                {% if username == request.user.username %}
                <div style="margin-left: 130px;" >
                    <div class="btn-group">
                        <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        More</button>
                        <div class="dropdown-menu border border-primary" >
                            <a class="dropdown-item text-dark" href="/post/edit/{{postid}}"><i class="far fa-edit mr-1"></i>Edit</a>
                            <a class="dropdown-item text-dark" href="/post/autocomplete/{{postid}}"><i class="far fa-edit mr-1"></i>AddTag</a>
                            <div class="dropdown-divider "></div>
                            <a class="dropdown-item text-dark" href="#"><i class="far fa-trash-alt mr-1"></i>Delete</a>
                        </div>
                    </div>
                </div>
                {% endif %}
            </div>
           
            <img src="{{img_src}}" height="500" class="card-img-top card-image" alt="...">

            <div class="container">
                <a href="{% url "likepostpage" %}" class="mr-3 like" id="{{postid}}">
                    {% if isliked == 0 %}
                    <i class="fa fa-heart-o insta-button" style="color:black" id="likebtn{{postid}}"></i>
                    {% else %}
                    <i class="fa fa-heart insta-button" style="color:Tomato" id="likebtn{{postid}}"></i>
                    {% endif %}
                </a>
                <a href="/post/{{postid}}" class="mr-3 ">
                    <i class="far fa-comment  insta-button"></i>
                </a>
                <br>

                <!-- #No_of_likes Likes Button trigger modal -->
                <a href="" class="card-text ml-0 text-dark " id="likecount{{postid}}" role="button" data-toggle="modal"
                    data-target="#likersModalLong">
                    {{likes_count}} likes
                </a>

                <!--Likers Modal -->
                <div class="modal fade" id="likersModalLong" tabindex="-1" role="dialog"
                    aria-labelledby="likersModalLongTitle" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h2 class="modal-title" id="likersModalLongTitle"><span
                                        class="badge badge-pill badge-dark">People who liked</span> </h2>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body ">
                                {% if isliked == 1 %}
                                <h10 class="card-content ml-2 " id="ulala">
                                    <img src="{{request_img_src}}" height="35" class="profile-image mx-auto">
                                    <a href="/userprofile/{{request_userid}}" class="text-dark"><strong class="">
                                            {{request_username}}</strong></a>
                                    <hr>
                                </h10>
                                {% endif %}

                                <h10 class="card-content ml-0" id="likeBody">
                                </h10>

                                {% for liker in likers  %}
                                <h10 class="card-content ml-2 scoll-tree">
                                    <img src="{{liker.img_src}}" height="35" class="profile-image mx-auto">
                                    <a href="/userprofile/{{liker.liker_id}}" class="text-dark"><strong class="">
                                            {{liker.liker_name}}</strong></a>
                                </h10>
                                <hr>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>

                <p class="card-text-caption ml-auto"> <strong> {{username}}</strong> {{caption}} </p>
            </div>

        </div>
        <div class="comment-section comment-bar my-2">
            <form action="/post/postComment/{{postid}}" method="Post">
                {% csrf_token %}
                <div class="input-group">
                    <input type="text" required="required" class="form-control comment" name="comment"
                        placeholder="Add a Comment ...">
                    <div class="input-group-append">
                        <input type="hidden" name="parentid" value="">
                        <button class="btn btn-info " type="submit"> Post </button>
                    </div>
                </div>
            </form>
        </div>

        <p>
        <h2> Comments ({{comments_count}})</h2>
        </p>
        <div class="container my-3">

            {% for comment in comments %}
            <div class="row my-3 caption-comments">
                <div class="col-md-1 my-1">
                    <img src="/static/user.png" height="35" class=" profile-image mx-auto" alt="...">
                </div>
                <div class="col-md-11 my-2">
                    <b><a href="/userprofile/{{comment.commenter_name}}" style="text-decoration: none;" class="text-dark">{{comment.commenter_name}} </a> </b>
                    at
                    <span class="badge badge-secondary"> {{comment.time|naturaltime}}</span>
                    <div class="my-1"> {{comment.content}} </div>
                    <div class="reply mx-0">
                        <button class="btn btn-sm btn-primary my-2" type="button" data-toggle="collapse"
                            data-target="#replybox{{comment.comment_id}}" aria-expanded="false"
                            aria-controls="replybox{{comment.comment_id}}">
                            Add a Reply
                        </button>

                        <div class="collapse" id="replybox{{comment.comment_id}}">
                            <div class="my-2">
                                <form action="/post/postComment/{{postid}}" method="post">
                                    {% csrf_token %}
                                    <div class="form-group">
                                        <label for="Reply">Post a reply : </label>
                                        <input type="text" name="comment" class="form-control"
                                            placeholder="Enter reply here..." required="required">
                                        <input type="hidden" name="parentid" value="{{comment.comment_id}}">
                                    </div>
                                    <button type="submit" class="btn btn-sm btn-info">Reply</button>
                                </form>
                            </div>
                        </div>
                        <div class="replies  my-2" style="width: 548px;">
                            {% for reply in replies  %}
                            {% if reply.parent_id == comment.comment_id %}
                            <div class="row  my-2 replycomment ">
                                <div class="col-md-1 ">
                                    <img src="/static/user.png" height="35" class=" profile-image mx-auto" alt="...">
                                </div>

                                <div class="col-md-10 ml-2">
                                    <b>
                                    <a href="/userprofile/{{reply.commenter_name}}" style="text-decoration: none;" class="text-dark ">{{reply.commenter_name}} </a>
                                    </b> at
                                    <span class="badge badge-secondary"> {{reply.time | naturaltime}}</span>
                                    <div class="my-1"> {{reply.content}} </div>
                                </div>
                            </div>

                            {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}

        </div>

    </div>

    <div class="col-3">
    </div>

</div>


{% endblock body %}

{% block js %}

<script>

    $(".like").click(function (e) {

        var id = this.id; //$(this).attr('id');
        var href = $('.like').attr('href');
        var likeBtnId = "likebtn" + id;
        e.preventDefault(); // don't follow the link

        $.ajax({
            url: href,
            data: { 'postid': id },
            success: function (response) {
                var likeBtn = document.getElementById(likeBtnId);

                if (response.liked) {
                    //handle likes heart icon and makes color red due to liking
                    likeBtn.classList.remove("fa-heart-o");
                    likeBtn.classList.add("fa-heart");
                    likeBtn.style.color = "Tomato";

                    //handle request users name on liker list dynamically
                    var img = document.createElement("img");
                    img.src = response.request_img_src;
                    img.className += "profile-image mr-2";
                    img.height = "35";
                    var element = document.getElementById("likeBody");
                    element.appendChild(img);

                    var a = document.createElement("a");
                    a.href = "/userprofile/" + response.request_userid;
                    a.innerHTML = "<strong class ='text-dark'>" + response.request_username + "</strong>"
                    element.appendChild(a);

                    var hr = document.createElement("hr");
                    element.appendChild(hr);

                    element.classList.add("ml-2");
                    element.classList.remove("ml-0");

                }
                else {
                    //changes heart icon to black because of unlike
                    likeBtn.classList.remove("fa-heart");
                    likeBtn.classList.add("fa-heart-o");
                    likeBtn.style.color = "black";


                    $("#likeBody").empty();
                    var element = document.getElementById("likeBody");
                    element.classList.remove("ml-2");
                    element.classList.add("ml-0");

                }

                $('#likecount' + id).html(response.likes_count + " likes"); //changes number of likes shown

                $("#ulala").remove();

            }
        })

    });

</script>
{% endblock js %}