{% extends 'timeline_base.html' %}

{% block title %} Messages {% endblock title %}

{% block css %}
.card{
border: 1px solid #DBDBDB;
border-bottom: 0;
margin: 0;
margin-top: 3%;
width : 615px;
}

.replycomment{
border: 1px solid #DBDBDB;
border-bottom: 0;
border-left: 0;
border-right: 0;
margin: 0;
margin-top: 3%;
}

.caption-comments{
background-color: #ffffff;
font-size: 90%;
border: 1px solid #DBDBDB;
margin-top: 3%;
width : 615px;
}

.paid-text{
font-size: 70%;
}

.card-image{
margin: 0;
margin-top: 3%;
}

.card-content{
margin: 0;
margin-left: 3%;
margin-top: 2%;
}

.card-text {
margin-left: 2%;
font-family: 'Roboto', sans-serif;
}

.card-text-caption{
margin-left: 2%;
}

.comment-bar{
width: 100%;
}

.comment:focus{
outline: 0;
box-shadow: none;
border: 1px solid #DBDBDB;
border-right: 0;
}

.notify-image{
width: 35px;
border: 2px solid #929292;
border-radius: 50%;
border-color: black;
margin: 0;
}
{% endblock css %}

{% block profile_url %}
<a class="nav-link" href="/userprofile/{{request.user.username}}"  data-toggle="tooltip" data-placement="bottom" title="Profile">
    <i class="fa fa-fw fa-user nav-icons"></i>
    <!--
        <img src="{% block profile_img %}{% endblock profile_img %}" alt="" height="26" class="round">                
    -->
</a>
{% endblock profile_url %}

{% block notification_count %}
    {% if total_unseen > 0 %}
    <span class="badge">{{total_unseen}}</span>
    {% endif %}
{% endblock notification_count %}
{% block msg_count %} 
    {% if total_unseen_msg > 0 %}
        <span class="badge">{{total_unseen_msg}}</span>
    {% endif %} 
{% endblock msg_count %}

{% block msg_count %} 
    {% if msg_unseen > 0 %}
        <span class="badge">{{msg_unseen}}</span>
    {% endif %} 
{% endblock msg_count %}


{% block body %}
{% load humanize %}
<div class="container my-2">
    {% if not dict_of_msg %}
    <h6 class="alert alert-info mx-auto">  You have no conversation yet! </h6>
    {% endif %}

    {% for chat_row in dict_of_msg %}
        <a href="/chat/{{chat_row.id}}" style="text-decoration : none">
            <div class="alert {% if chat_row.seen %}alert-success {% else %} alert-primary{% endif %}
            mb-2" role="alert" style="height: 25;">
                    {% if chat_row.seen %} 
                        <span class="badge "> <span style='font-size:15px'>&#10003;</span></span>
                    {% else %}
                        <span class="badge badge-pill badge-primary" style="height: 3%;
                    width: 2%; font-size:7px">New</span>
                    {% endif %}
                    <img src="{{chat_row.img_src}}" height="30" class=" notify-image ml-2">
                    <strong style="color:black">{{chat_row.name}}</strong>
                    <div>
                        <p style="width:90%; margin:1px 60px 5px 60px; overflow: hidden !important; text-overflow: ellipsis; white-space: nowrap; color: black">{{chat_row.text}}
                        </p>
                        <span class="badge"> {{chat_row.time|naturaltime}}</span>
                    </div>
                    {% comment %} <span class="badge"> {{chat_row.time|naturaltime}}</span> {% endcomment %}
                    {% comment %} {% if chat['seen'] %}       
                    <span class="badge "> <span style='font-size:15px'>&#10003;</span></span>
                    {% else %} 
                    <span class="badge badge-pill badge-primary" style=" height: 3%;
                    width: 2%; font-size:7px" >New</span>
                    {% endif %}
                    <img src="{{notification.img_src}}" height="30" class=" notify-image ml-2">
                    <strong>{{notification.from_username}} </strong>  liked your post
                    <span class="badge"> {{notification.time|naturaltime}}</span> {% endcomment %}
            </div>
        </a>
    {% endfor %}
</div>
{% endblock body %}

{% block js %}
<script>
</script>
{% endblock js %}