{% extends 'timeline_base.html' %}

{% block title %} {{to_name}} {% endblock title %}


{% block css %}

.container{
    position: relative;
    right: 5px;
    width: 100%;
    height: 100%;
    top: 5px;
}
.container::-webkit-scrollbar {
    width: 0px;
}

img{ max-width:100%;}

.inbox_people {
background: #f8f8f8 none repeat scroll 0 0;
float: left;
overflow: hidden;
width: 40%; border-right:1px solid #c4c4c4;
}
.inbox_msg {
border: 0px solid #c4c4c4;
clear: both;
overflow: hidden;
}
.top_spac{ margin: 20px 0 0;}


.recent_heading {float: left; width:40%;}
.srch_bar {
display: inline-block;
text-align: right;
width: 60%; padding:
}
.headind_srch{ padding:10px 29px 10px 20px; overflow:hidden; border-bottom:1px solid #c4c4c4;}

.recent_heading h4 {
color: #05728f;
font-size: 21px;
margin: auto;
}


.incoming_msg_img {
display: inline-block;
width: 6%;
}
.received_msg {
display: inline-block;
padding: 0 0 0 10px;
vertical-align: top;
width: 92%;
}

.received_withd_msg p {
background: #ebebeb none repeat scroll 0 0;
border-radius: 3px;
color: #646464;
font-size: 14px;
margin: 0;
padding: 5px 10px 5px 12px;
width: 100%;
word-wrap: break-word;
}

.time_date {
color: #747474;
display: block;
font-size: 12px;
margin: 8px 0 0;
}

.received_withd_msg { 
    width: 57%;
}

.mesgs {
float: left;
padding: 30px 15px 0 25px;
width: 70%;
}

.sent_msg p {
background: #05728f none repeat scroll 0 0;
border-radius: 3px;
font-size: 14px;
margin: 0; color:#fff;
padding: 5px 10px 5px 12px;
width:100%;
word-wrap: break-word;
}
.outgoing_msg{ overflow:hidden; margin:26px 0 26px;}
.sent_msg {
float: right;
width: 46%;
}

.input_msg_write input {
background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
border: medium none;
color: #4c4c4c;
font-size: 15px;
min-height: 48px;
width: 100%;
}

.type_msg {border-top: 1px solid #c4c4c4;position: relative;}

.msg_send_btn {
background: #05728f none repeat scroll 0 0;
border: medium none;
border-radius: 50%;
color: #fff;
cursor: pointer;
font-size: 17px;
height: 33px;
position: absolute;
right: 0;
top: 11px;
width: 33px;
}

.messaging { padding: 0 0 50px 0;}

.msg_history {
height: 500px;
overflow-y:auto;
}
.msg_history::-webkit-scrollbar {
    width: 0px;
}

{% endblock css %}

{% block profile_url %}
<a class="nav-link" href="/userprofile/{{request.user.username}}" data-toggle="tooltip" data-placement="bottom"
    title="Profile">
    <i class="fa fa-fw fa-user nav-icons"></i>
    <!--
        <img src="{% block profile_img %}{% endblock profile_img %}" alt="" height="26" class="round">                
    -->
</a>
{% endblock profile_url %}

{% block notification_count %}
    {% if total_unseen > 0 %}
    <span class="badge">{{total_unseen}}</span>
    {% endif %}
{% endblock notification_count %}
{% block msg_count %} 
    {% if total_unseen_msg > 0 %}
        <span class="badge">{{total_unseen_msg}}</span>
    {% endif %} 
{% endblock msg_count %}

{% block body %}
{% load humanize %}
<div class="row row-no-gutters" style="overflow:hidden;" >
    <div class="container" style="background-color: #1F1B24; overflow:hidden;">
        <h3 class=" text-center" style="color: white;position:relative;top: 3vh;overflow:hidden;">Messages</h3>
        <div class="messaging" style="position:relative;top: 3.2vh;overflow: hidden;">
            <div class="inbox_msg d-flex justify-content-center">
                <div class="mesgs border">
                    <div class="msg_history" id="messageBody">
                        {% for msg in chats %}
                            {% if msg.type == "incoming" %}
                            <div class="incoming_msg">
                                <div class="incoming_msg_img"> <a href="/userprofile/{{to_id}}">
                                    <img src="{{to_img_src}}" class="border border-light"
                                        alt="..." style="border-radius:50%; height: 50px;
                                        width: 60px;">
                                </a> </div>
                                <div class="received_msg">
                                    <div class="received_withd_msg">
                                        <p>{{msg.text}}</p>
                                        <span class="time_date"> {{msg.time}}</span>
                                    </div>
                                </div>
                            </div>
                            {% else %}
                            <div class="outgoing_msg">
                                <div class="sent_msg">
                                    <p>{{msg.text}}</p>
                                    <span class="time_date"> {{msg.time}}</span>
                                </div>
                            </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                    <form method="POST" action="/chat/send/{{to_id}}">
                        {% csrf_token %}
                        <div class="type_msg" style="overflow: hidden;">
                            <div class="input_msg_write" style="overflow: hidden;">
                                <input type="text" class="write_msg" style="color:white;overflow: hidden;" placeholder="Type a message" name="msg" maxlength="3000" required />
                                <button class="msg_send_btn" type="submit"><i class="fa fa-paper-plane-o"
                                        aria-hidden="true"></i></button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock body %}
{% block js %}
<script>
    var chatHistory = document.getElementById("messageBody");
    chatHistory.scrollTop = chatHistory.scrollHeight;
</script>
{% endblock js %}