{% extends 'timeline_base.html' %}

{% block title %} Notifications {% endblock title %}


{% block css %}

.card{
border: 1px solid #DBDBDB;
border-bottom: 0;
margin: 0;
margin-top: 3%;
width : 615px;
}

.replycomment{
border: 1px solid #DBDBDB;
border-bottom: 0;
border-left: 0;
border-right: 0;
margin: 0;
margin-top: 3%;
}



.caption-comments{
background-color: #ffffff;
font-size: 90%;
border: 1px solid #DBDBDB;
margin-top: 3%;
width : 615px;

}

.paid-text{
font-size: 70%;
}

.card-image{
margin: 0;
margin-top: 3%;
}

.card-content{
margin: 0;
margin-left: 3%;
margin-top: 2%;

}

.card-text {
margin-left: 2%;
font-family: 'Roboto', sans-serif;
}
.card-text-caption{
margin-left: 2%;
}

.comment-bar{
width: 100%;
}

.comment:focus{
outline: 0;
box-shadow: none;
border: 1px solid #DBDBDB;
border-right: 0;
}

.notify-image{
width: 35px;
border: 2px solid #929292;
border-radius: 50%;
border-color: black;
margin: 0;
}

{% endblock css %}

{% block profile_url %}
<a class="nav-link" href="/userprofile/{{request.user.username}}"  data-toggle="tooltip" data-placement="bottom" title="Profile">
    <i class="fa fa-fw fa-user nav-icons"></i>
    <!--
        <img src="{% block profile_img %}{% endblock profile_img %}" alt="" height="26" class="round">                
    -->
</a>
{% endblock profile_url %}

{% block notification_count %} 
    {% if total_unseen > 0 %}
        <span class="badge">{{total_unseen}}</span>
    {% endif %} 
{% endblock notification_count %}

{% block body %}
{% load humanize %}

<div class="container my-2">

    {% if not notifications %}
    <h6 class="alert alert-info mx-auto">  You have no notifications yet! </h6>
    {% endif %}

    {% for notification in notifications %}
        <a href="check/{{notification.notification_id}} " style="text-decoration : none">

        {% if notification.content == 'like' %}
            <div class="alert {% if notification.is_seen %}alert-success {% else %} alert-primary{% endif %}
            mb-2" role="alert" style="height: 25;">
                    {% if notification.is_seen %}       
                    <span class="badge "> <span style='font-size:15px'>&#10003;</span></span>
                    {% else %} 
                    <span class="badge badge-pill badge-primary" style=" height: 3%;
                    width: 2%; font-size:7px" >New</span>
                    {% endif %}
                    <img src="{{notification.img_src}}" height="30" class=" notify-image ml-2">
                    <strong>{{notification.from_username}} </strong>  liked your post
                    <span class="badge"> {{notification.time|naturaltime}}</span>
            </div>
        {% elif notification.content == 'follow' %}
            <div class="alert {% if notification.is_seen %}alert-success {% else %} alert-primary{% endif %}
            mb-2" role="alert" style="height: 25;">
                    {% if notification.is_seen %}       
                    <span class="badge"> <span style='font-size:15px' >&#10003;</span></span>
                    {% else %} 
                    <span class="badge badge-pill badge-primary" style=" height: 3%;
                    width: 2%; font-size:7px" >New</span>
                    {% endif %}
                    <img src="{{notification.img_src}}" height="30" class=" notify-image ml-2">
                    <strong>{{notification.from_username}} </strong>  started following you
                    <span class="badge"> {{notification.time|naturaltime}}</span>
            </div>
        {% elif notification.content == 'comment' %}
            <div class="alert {% if notification.is_seen %}alert-success {% else %} alert-primary{% endif %}
            mb-2" role="alert" style="height: 25;">
                    {% if notification.is_seen %}       
                    <span class="badge"> <span style='font-size:15px' >&#10003;</span></span>
                    {% else %} 
                    <span class="badge badge-pill badge-primary" style=" height: 3%;
                    width: 2%; font-size:7px" >New</span>
                    {% endif %}
                    <img src="{{notification.img_src}}" height="30" class=" notify-image ml-2">
                    {% if notification.post_username == request.user.username %}
                        <strong>{{notification.from_username}} </strong>  commented on your post
                    {% else %}
                        <strong>{{notification.from_username}} </strong> also commented on 
                        <span class="alert-link">{{notification.post_username}}</span>'s post
                    {% endif %}
                  
                    <span class="badge"> {{notification.time|naturaltime}}</span>
            </div>
        {% elif notification.content == 'reply' %}
            <div class="alert {% if notification.is_seen %}alert-success {% else %} alert-primary{% endif %}
            mb-2" role="alert" style="height: 25;">
                    {% if notification.is_seen %}       
                    <span class="badge"> <span style='font-size:15px' >&#10003;</span></span>
                    {% else %} 
                    <span class="badge badge-pill badge-primary" style=" height: 3%;
                    width: 2%; font-size:7px" >New</span>
                    {% endif %}
                    <img src="{{notification.img_src}}" height="30" class=" notify-image ml-2">
                    <strong>{{notification.from_username}} </strong>  replied to your comment
                    <span class="badge"> {{notification.time|naturaltime}}</span>
            </div>
        {% else %}
            <div class="alert {% if notification.is_seen %}alert-success {% else %} alert-primary{% endif %}
            mb-2" role="alert" style="height: 25;">
                    {% if notification.is_seen %}       
                    <span class="badge"> <span style='font-size:15px' >&#10003;</span></span>
                    {% else %} 
                    <span class="badge badge-pill badge-primary" style=" height: 3%;
                    width: 2%; font-size:7px" >New</span>
                    {% endif %}
                    <img src="{{notification.img_src}}" height="30" class=" notify-image ml-2">
                    <strong>{{notification.from_username}} </strong>  tagged you in post
                    <span class="badge"> {{notification.time|naturaltime}}</span>
            </div>

        {% endif %}
        </a>
    {% endfor %}

</div>

{% endblock body %}

{% block js %}

<script>

</script>
{% endblock js %}