{% extends 'timeline_base.html' %}

{% block title %} Timeline {% endblock title %}

{% block css %}

.card{
border: 1px solid #DBDBDB;
border-bottom: 0;
margin: 0;
margin-top: 3%;
width : 615px;
}

.paid-text{
font-size: 70%;
}

.card-image{
margin: 0;
margin-top: 3%;
}

.card-content{
margin: 0;
margin-left: 3%;
margin-top: 2%;

}

.card-text {
margin-left: 2%;
font-family: 'Roboto', sans-serif;
}
.card-text-caption{
margin-left: 2%;
}

.comment-bar{
width: 100%;
}

.comment:focus{
outline: 0;
box-shadow: none;
border: 1px solid #DBDBDB;
border-right: 0;
}

.profile-image{
    height: 40px;
    width: 45px;
    border: 2px solid #929292;
    border-radius: 50%;
    margin: 0;
}

.suggestions-container{
    margin: 0;
    margin-top: 5%;
    background-color: #fff;
   
    border: 1px solid #DBDBDB;
    border-radius: 2%;
    width: 70%;  
}
.follow-suggestion{
    
    float: right;
    font-weight: 500;
    color: #00ADF1;
}

.follow-suggestion:hover{
    /*text-decoration: none;*/
    color: #00ADF1;
}

.stories{
    color: #929292;
    font-size: 120%;
    font-weight: 500;
   }
.watch-all{
   float: right;
   font-weight: 500;
}

.stories-profiles{
    margin: 0;
    margin-top: 2%;
 }
 .stories-img{
    border: 2px solid #C82D8D;
    border-radius: 50%;
    cursor: pointer;
 }
 .stories-name{
    margin: 0;
    margin-left: 2%;
    font-weight: 500;
    font-size: 110%;
 }
 .minutes-ago{
    margin: 0;
    margin-left: 18%;
    color: #929292;
 }

{% endblock css %}

{% block home_active %}active{% endblock home_active %}

{% block profile_url %}
<a class="nav-link" href="/userprofile/{{request.user.username}}"  data-toggle="tooltip" data-placement="bottom" title="Profile">
    <i class="fa fa-fw fa-user nav-icons"></i>
    <!--
        <img src="{% block profile_img %}{% endblock profile_img %}" alt="" height="26" class="round">                
    -->
</a>
{% endblock profile_url %}

{% block notification_count %} 
    {% if total_unseen > 0 %}
        <span class="badge">{{total_unseen}}</span>
    {% endif %} 
{% endblock notification_count %}
{% block msg_count %} 
    {% if total_unseen_msg > 0 %}
        <span class="badge">{{total_unseen_msg}}</span>
    {% endif %} 
{% endblock msg_count %}


{% block msg_count %} 
    {% if msg_unseen > 0 %}
        <span class="badge">{{msg_unseen}}</span>
    {% endif %} 
{% endblock msg_count %}

{% block body %}
{% load humanize %}

<div class="feed d-flex justify-content-center row">
    <div class="col-md-6 ml-4 ">

        {% for post in posts %}
        <div class="card">

            <h10 class=" card-content ml-2">
                <img src="{{post.user_img_src}}" height="30" class="profile-image mx-auto" alt="...">
                <strong> 
                    <a href="/userprofile/{{post.userid}}" class="text-dark mr-2 ml-1"> {{post.username}} </a>
                    <span class="badge badge-info">{{ post.time|naturaltime}} </span> 
                </strong>
                {% if post.no_of_tags > 0 %}
                    <br>
                    <span class="mx-4"> <span class="text-secondary ml-4" style="font-size: 13px;">&nbsp 
                        with</span>
                        <a href="/userprofile/{{post.firstTag.userid}}" class="text-dark"> {{post.firstTag.username}} </a>
                            {% if post.tagged %}
                             <!-- Button trigger modal -->
                            <span class="text-secondary">and</span>
                            <a data-toggle="modal" class="text-dark" role="button" href="#" data-target="#taggedModal{{post.postid}}">
                                 {{post.tagged | length}} others
                            </a>
                            <!-- Modal -->
                            <div class="modal fade" id="taggedModal{{post.postid}}" tabindex="-1" role="dialog"
                                aria-labelledby="taggedModalLabel{{post.postid}}" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="taggedModalLabel{{post.postid}}">Tagged People</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body list-group">
                                            {% for t in post.tagged %}
                                            <li class="list-group-item ">
                                                <h10 class="">
                                                    <img src="{{t.img_src}}" height="35"
                                                        class="profile-image mx-auto border border-primary" alt="...">
                                                    <strong>
                                                        <a href="/userprofile/{{t.userid}}" class="text-dark mr-2">
                                                            {{t.username}}</a>
                                                    </strong>
                                                </h10>
                                            </li>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endif %}
                           
                    </span>
                {% endif %}
            </h10>
            <!-- <a href="/post/{{post.postid}}"> -->
            <img src="{{post.img_src}}" height="500" class="card-img-top card-image border " alt="...">
            <!-- </a> -->
            <div class="container">
                <a href="{% url 'likepost' %}" class="mr-3 like" id="{{post.postid}}">
                    {% if post.isliked == 0 %}
                        <i class="fa fa-heart-o insta-button" style="color:black"  id="likebtn{{post.postid}}"></i>
                    {% else %}
                        <i class="fa fa-heart insta-button" style="color:Tomato"  id="likebtn{{post.postid}}"></i>
                    {% endif %}
                </a>
                <a href="/post/{{post.postid}}" class="mr-3 ">
                    <i class="far fa-comment  insta-button"></i>
                </a><br>
                <p class="card-text ml-0 d-inline" id = "likecount{{post.postid}}">{{post.likes_count}} likes </p>
                <p class="card-text ml-0 d-inline" > &nbsp &nbsp {{post.comments_count}} comments </p><br>
                <p class="card-text-caption ml-auto"> <strong> {{post.username}}</strong> {{post.caption|truncatechars:55}} </p>
            </div>

        </div>
        <div class="comment-section comment-bar my-2">
            <form action="/post/postComment/{{post.postid}}" method= "Post">
                {% csrf_token %}
                <div class="input-group">
                    <input type="hidden" name="parentid" value="">
                    <input type="text" class="form-control comment" name="comment" placeholder="Add a Comment ..." required="required">
                    <div class="input-group-append">
                        <button class="btn btn-primary " type="submit"> Post </button>
                    </div>
                </div>
            </form>
        </div>
        {% endfor %}
    </div>

    <div class="col-md-4 ml-4">
        <div class="container suggestions-container my-4 ml-auto">
            <span class="stories text-success "> Suggestions For You </span> 
            <a href="/home/suggestions/{{main_userid}}"><span class="text-dark ml-3" style="font-weight: 500;">  See All </span></a>
            <hr>
            {% if suggestions %}
                {% for suggestion in suggestions %}
                <div class="stories-profiles ">
                    <img src="{{suggestion.img_src}}" class="stories-img" height="38" width="40" alt="">
                    <a href="/userprofile/{{suggestion.userid}}"><span class="text-primary alert-link"> {{suggestion.username}}
                        </span></a>
                    <a href="/userprofile/follow/{{suggestion.userid}}" class="follow-suggestion Follow"
                        id="follow{{suggestion.userid}}"> Follow </a>
                    <br>
                    {% if suggestion.followers > 0 %}
                    <p class="minutes-ago text-secondary"> followed by <span class="text-dark"> {{suggestion.first}} </span>
                        {% if suggestion.followers > 1 %}
                        <span class="text-secondary"> and
                            <span class="text-dark"> {{suggestion.followers|add:"-1"}} others </span>
                        </span>
                        {% endif %}
                    </p>
                    {% endif %}
                <hr>
                </div>
                {% endfor %}
            {% else %}
            <div class="alert alert-primary alert-link" role="alert" style="font-size: small;">
               No suggestions for you now !!
            </div>
            {% endif %}
        </div>
    </div>

</div>

{% endblock body %}

{% block js %}

<script>

    $(".like").click(function (e) {
        var id = this.id; //$(this).attr('id');
        var href = $('.like').attr('href');
        var likeBtnId = "likebtn" + id;
        console.log(likeBtnId);
        e.preventDefault(); // don't follow the link


        $.ajax({
            url: href,
            data: { 'postid': id },
            success: function (response) {
                console.log(response);
                var likeBtn = document.getElementById(likeBtnId);
                console.log(likeBtn);

                if (response.liked) {
                    likeBtn.classList.remove("fa-heart-o");
                    likeBtn.classList.add("fa-heart");
                    likeBtn.style.color = "Tomato";
                }
                else {
                    likeBtn.classList.remove("fa-heart");
                    likeBtn.classList.add("fa-heart-o");
                    likeBtn.style.color = "black";
                }

                $('#likecount' + id).html(response.likes_count + " likes");
            }
        })


    });

    $(".Follow").click(function (e) {
        e.preventDefault();
        var href = this.href;
        var aid = this.id;
        var id = aid.substring(6);
        console.log(href);

        $.ajax({
        url: href,
        data: {
          'to_follow_id': id
        },
        success: function(response){
            if (response.is_following){
                $("#"+aid).html("Unfollow");
            }
            else{
                $("#"+aid).html("Follow");
            }
        }
      })
        
    })

</script>
{% endblock js %}