{% extends 'timeline_base.html' %}

{% block title %} {{username}} {% endblock title %}

{% block css %}

.userImage
{
width:200px;
height:200px;
border-radius:50%;
border : 4px;
}

.info
{
padding-top:2%;
padding-left:3%;
}

#follow, #edit{
color:blue;
}

#follow:hover, #edit:hover{
color:white;
}

.pst{
width:350px;
height:200px;
}

{% endblock css %}

{% block user_active %}active {% endblock user_active %}

{% block profile_url %}
<a class="nav-link" href="/userprofile/{{request.user.username}}" data-toggle="tooltip" data-placement="bottom"
    title="Profile">
    <i class="fa fa-fw fa-user nav-icons"></i>
    <!--
        <img src="{% block profile_img %}{% endblock profile_img %}" alt="" height="26" class="round">                
    -->
</a>
{% endblock profile_url %}

{% block notification_count %}
{% if total_unseen > 0 %}
<span class="badge">{{total_unseen}}</span>
{% endif %}
{% endblock notification_count %}

{% block msg_count %} 
    {% if msg_unseen > 0 %}
        <span class="badge">{{msg_unseen}}</span>
    {% endif %} 
{% endblock msg_count %}

{% block body %}

<div class="container my-4">
    <div class="media">
        <img src="{{img_src}}" class="align-self-start mr-3 userImage border border-success" alt="...">
        <!-- The Modal -->
        <div id="myModal" class="modal">
            <span class="close">&times;</span>
            <img class="modal-content" id="img01">
            <div id="caption"></div>
        </div>

        <div class="media-body info">

            <div class="mx-auto my-2 ">
                <div class="d-inline text-dark">
                    <h4 class="mt-0 d-inline">{{username}} </h4>
                </div>
                {% if username == request.user.username %}
                <a role="button" type="button" class="btn btn-secondary btn-sm mx-4" href="/userprofile/edit/{{userid}}">
                    <i class="fas fa-cog mr-1"></i> Edit Profile </a>
                {% endif %}
            </div>

            {% if username != request.user.username %}
            {% if is_following == 0 %}
            <a type="button" class=" btn btn-outline-primary" id="follow" role="button"
                href="follow/{{userid}}">Follow</a>
            {% else %}
            <a type="button" class="btn btn-outline-primary" id="follow" role="button" href="follow/{{userid}}">
                Unfollow</a>
            {% endif %}
            <a type="button" class=" btn btn-outline-danger d-inline" id="msg" role="button"
            href="/chat/{{userid}}">Message</a>
            {% endif %}

            <div class="mx-auto my-2 ">
                <div class="d-inline text-dark " id="posts"> Posts : {{total_posts}}</div>
                <div class="d-inline text-dark mx-4 ">
                    <a href="/userprofile/followers/{{userid}}" class="text-dark"> Followers : </a>
                    <p class="d-inline" id="followers"> {{followers}}</p>
                </div>
                <div class="d-inline text-dark" id="followings">
                    <a href="/userprofile/followings/{{userid}}" class="text-dark"> Followings </a>: {{followings}}
                </div>
            </div>

            <div>
                <a href="/userprofile/about/{{userid}}" class="text-dark">
                    {% if username != request.user.username %}
                    ... See {{username}}'s About info
                    {% else %}
                    ... See your about info
                    {% endif %}
                </a>


            </div>

        </div>
    </div>

    <hr>

    <!-- showing the  posts -->
    <div class="container">
        <nav>
            <div class="nav nav-tabs d-flex justify-content-center mb-1" id="nav-tab" role="tablist">
                <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab"
                    aria-controls="nav-home" aria-selected="true"><i class="fas fa-image mr-1"></i>Posts</a>
                <a class="nav-item nav-link" id="nav-tagged-tab" data-toggle="tab" href="#nav-tagged" role="tab"
                    aria-controls="nav-tagged" aria-selected="false"><i class="fas fa-tags mr-1"></i>Tagged</a>
            </div>
        </nav>
        <div class="tab-content cona" id="nav-tabContent">
            <div class="tab-pane fade show active container" id="nav-home" role="tabpanel"
                aria-labelledby="nav-home-tab">
                {% for i in posts %}
                <div class='row mb-2'>
                    {% for j in i %}
                    <div class='col-md-4'>
                        <a href="/post/{{j.postid}}"><img src="{{j.img_src}}" alt="Image" class='pst border border-info'></a>
                    </div>
                    {% endfor %}
                </div>
                {% endfor %}
            </div>
            <div class="tab-pane fade" id="nav-tagged" role="tabpanel" aria-labelledby="nav-tagged-tab">
                
                {% for i in tagged_posts %}
                <div class='row mb-2'>
                    {% for j in i %}
                    <div class='col-md-4'>
                        <a href="/post/{{j.postid}}"><img src="{{j.img_src}}" alt="Image" class='pst border border-info'></a>
                    </div>
                    {% endfor %}
                </div>
                {% endfor %}

            </div>
        </div>
    </div>
</div>



{% endblock body %}

{% block js %}
<script type="text/javascript">
    $("#follow").click(function (e) {
        e.preventDefault();
        var href = this.href;
        console.log(href);
        $.ajax({
            url: href, 
            success: function (response) {
                if (response["is_following"]) {
                    $("#follow").html("Unfollow");
                }
                else {
                    $("#follow").html("Follow");
                }
                var followers = document.getElementById("followers");
                followers.innerHTML = response.followers_count;
            }
        })
    })

</script>
{% endblock js %}