{% extends 'base.html' %}

{% block title %} LogIn! {% endblock title %}
{% block css %}
body{
background-color: #FAFAFA;
margin: 0;
padding: 0;
width: 100%;

}

.row{
margin: 0;
margin-top: 5%;
}


.login-inner{
margin: 0;
margin-top: 12%;
background-color: #FFFFFF;
margin-left: 8%;
width: 80%;
height: 70%;
border: 1px solid #DBDBDB;
}

.content{
margin-left: 20%;
margin-top: 5%;
font-family: 'Lobster', cursive;
font-size: 280%;
}

input{
height: 7%;
width: 70%;
background-color: #FAFAFA;
border: 1px solid #DBDBDB;
}

input::placeholder{
font-size: 75%;
}

input:focus{
outline: 0;
box-shadow: none;
border: 1px solid #DBDBDB;
}

.username{
margin-top: 10%;
margin-left: 15%;
}

.password{
margin-top: 2%;
margin-left: 15%;
}


.login-btn{
margin-top: 4%;
background-color: #0095F6;
color: white;
height: 9%;
width: 70%;
margin-left: 15%;
}
.login-btn:hover{
background-color: #0095F6;
color: white;
}

a:hover{
text-decoration: none;
color: #385185;
}

.forgot{
margin: 0;
margin-left: 32%;
color: #385185;
font-size: 80%;
}
hr{
width: 60%;
}

.signup{
margin: 0;
margin-top: 5%;
margin-left: 8%;
background-color: #FFFFFF;
border: 1px solid #DBDBDB;
width: 80%;
height: 12%;
}

.no-account{
margin: 0;
margin-top: 5%;
margin-left: 23%;
font-size: 80%;
}

.signup-link{
font-weight: 600;
color: #0095F7;
}
.signup-link:hover{
font-weight: 600;
color: #0095F7;
}

.footer-text{
margin: 0;
margin-left: 15%;
margin-top: -3%;
color: #385185;
font-size: 90%;
font-weight: 500;
cursor: pointer;
}
.copyright{
margin-left: 8%;
color: #8E919C;
}

{% endblock css %}

{% block body %}


<div class="row justify-content-center">

    <div class="img-container col-lg-4 col-md-6">

        <div id="carouselExampleControls" class="carousel slide carousel-fade" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img class="d-block" style="height: 500px; width: 500px;" src="/static/images/phone01.png" alt="...">
                </div>
                <div class="carousel-item">
                    <img class="d-block"  style="height: 500px; width: 500px;" src="/static/images/phone02.png" alt="">
                </div>
                <div class="carousel-item">
                    <img class="d-block " style="height: 500px; width: 500px;" src="/static/images/phone03.png" alt="">
                </div>
                <div class="carousel-item">
                    <img class="d-block " style="height: 500px; width: 500px;" src="/static/images/phone05.png" alt="">
                </div>
            </div>
            
        </div>



    </div>

    <div class="login-box col-lg-4 col-md-6 col-sm-12">
        <form method="POST" action="/login">
            {% csrf_token %}
            <div class="login-inner border border-secondary">
                <h1 class="intsa content"> Instagram </h1>

                <div class="form-group">
                    <input type="text" class="username border border-success" placeholder=" Username or email" id="loginUsername"
                        name="loginUsername" required>
                </div>
                <div class="form-group">
                    <input type="password" class="password border border-success" placeholder="Password" id="loginPassword"
                        name="loginPassword" required>
                </div>

                <button type="submit" class="btn btn-primary login-btn rounded">Login</button>
                <hr>

            </div>
        </form>

        <div class="signup border border-secondary">
            <p class="no-account"> Don't have account ? <a href="/signup" class="signup-link"> Sign Up </a> </p>
        </div>

    </div>

</div>


<div class="fixed-bottom">
    <p class="footer-text col-sm-12">
        ABOUT HELP PRESS API JOBS PRIVACY TERMS LOCATIONS TOP ACCOUNTS HASHTAGS LANGUAGE

        <span class="copyright">
            © 2020 INSTAGRAM FROM FACEBOOK
        </span>
    </p>
</div>
{% endblock body %}

<script>

    $('.carousel').carousel({
        interval: 1000
    })
</script>